@page
@model WebApplication.Pages.Suppliers.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "_StaffLayout";
}

<h1>Supplier Details</h1>

<hr />
@{
    if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    if (!string.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Success
        </div>
    }
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Suplier.SuplierId" />
            <div class="form-group">
                <label asp-for="Suplier.SuplierName" class="control-label"></label>
                <input asp-for="Suplier.SuplierName" class="form-control" />
                <span asp-validation-for="Suplier.SuplierName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suplier.SuplierPhone" class="control-label"></label>
                <input asp-for="Suplier.SuplierPhone" class="form-control" />
                <span asp-validation-for="Suplier.SuplierPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suplier.TaxCode" class="control-label"></label>
                <input asp-for="Suplier.TaxCode" class="form-control" />
                <span asp-validation-for="Suplier.TaxCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suplier.Status" class="control-label"></label>
                <input asp-for="Suplier.Status" class="form-control" />
                <span asp-validation-for="Suplier.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
